################################
# block access to config files #
################################

<FilesMatch "^config\.">
    Order allow,deny
    Deny from all
</FilesMatch>

###############
# pretty urls #
###############

RewriteEngine on
RewriteBase /bobcat_embed/
RewriteRule ^embed_gen(.*)$ index.php?action=generate [QSA]
RewriteRule ^embed(.*)$ index.php?action=embed [QSA]

# Pass /css, /images, and /javascript through
RewriteRule ^(css|images|javascript)/(.*)$ $1/$2 [L]

RewriteRule ^.* index.php?action=generate [QSA]